<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chess.css') }}">
</head>

<body>
    <table border="0">
        <tr>
            <td rowspan="4" valign="top">
                <div id="chess-board">{{ html_grid|safe }}</div>
            </td>
            <td valign="top">
                <table>
                    <tr>
                        <td>
                            <div id="whoseTurn">&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="activePiece">&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="killedWhite">&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="killedBlack">&nbsp;</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <script>
        function getInfo()  {
            const x = document.getElementById("chess-board")


            frtp = x.getBoundingClientRect()
            console.log( frtp )
        }
        </script>
        <button onclick="getInfo()">getInf</button>

</body>

</html>
<script src="{{ url_for('static', filename='simple_helper.js') }}"></script>
<script src="{{ url_for('static', filename='simple.js') }}"></script>
</body>

</html>