<html>
    <head>
        <style>
            .offwhite {
                height: 50px;
                width: 50px;
                background-color: green;
            }
            .feltgreen {
                height: 50px;
                width: 50px;
                background-color: #F8F0E3;
            }
            .piece {
                font-size: 50px;
            }
        </style>
        <script src="/static/game.js"></script>
        
    </head>
    <body>
        <div class="piece">&#9816</div>

        <div id="board">
        </div>
        <hr>

        <script>
            createUI()
        </script>

    </body>
</html> 