<html>

<head>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="icon" href="data:,">
    <script src="/static/qa.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <table border="1">
        <tr>
            <td valign="top">
                <div id="board"></div>
            </td>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                <div id='activeCell'></div>
                <div id='activePiece'></div>
            </td>
        </tr>
    </table>
    <hr />
    <script>
        buildCells()
        setup()
    </script>
</body>

</html>